* {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #123b6b;
}

h2 {
  font-size: 2em;
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
}

button {
  border: none;
  height: 60px;
  font-size: 1.2em;
  border-radius: 20px;
  background: #123b6b;
  color: white;
}

.headshot, button {
  width: 95vw;
}

header, .ham, div, li, nav, section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ham, div, li, nav, section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header, div, li, section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h3, .headshot, .Action, p, .bar, .rep {
  margin-top: 20px;
}

.Bio, .Publications, .Performances {
  padding-bottom: 50px;
  border-bottom: 5px solid #123b6b;
}

header {
  position: fixed;
  bottom: 0px;
  background: #002249;
}

header a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.Logo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav {
  position: absolute;
  bottom: 55px;
  background: #002249;
}

nav a {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid white;
  width: 100%;
}

.nav-show {
  right: 0;
}

.nav-hide {
  right: -1000px;
}

.hamE, .hamX {
  padding: 10px;
  width: 80px;
  height: 55px;
}

.hamE li, .hamX li {
  background: white;
  height: 7px;
  position: relative;
}

.hamE li:nth-child(2) {
  margin: 7px 0;
}

.hamX li:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
}

.hamX li:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 2px;
}

.hamX li:nth-child(2) {
  background: transparent;
}

.Home {
  min-height: 100vh;
}

.headshot {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
}

.About {
  padding: 10px;
}

.bar {
  height: 5px;
  background: #123b6b;
}

.button-alt {
  background: white;
  color: #123b6b;
  border: 1px solid #123b6b;
  margin-top: 5px;
}

.Bio {
  text-align: left;
}

.Publications li {
  text-transform: capitalize;
}

.Performances li {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Performances h3, .Performances a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Performances ul {
  margin: 0;
}

.rep {
  padding-left: 20px;
}

.performance {
  border-bottom: 1px solid #123b6b;
  padding-bottom: 20px;
}

.performance:last-child {
  border: none;
}

.AboutLessons {
  padding: 10px;
}

.AboutLessons h3, .AboutLessons p {
  margin: 10px 0;
}

.AboutLessons > li {
  border: solid 1px #123b6b;
  margin-bottom: 10px;
  padding: 10px;
}

.Ready ul, .Online ul, .InPerson ul {
  padding-left: 20px;
}

.Ready ul li, .Online ul li, .InPerson ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.Ready ul li input, .Online ul li input, .InPerson ul li input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}

.checked {
  text-decoration: line-through;
}

.Contact, input, textarea {
  padding: 10px;
}

.Submitted {
  padding: 10px;
}

.Submitted p {
  text-align: center;
  margin-bottom: 20px;
}

.Contact form {
  margin: 20px 0;
}

.Contact input {
  height: 50px;
}

.Contact textarea {
  height: 100px;
}

.Contact input, .Contact textarea, .Contact .wantLessons, .Contact p {
  margin-bottom: 20px;
}

.wantLessons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #123b6b;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #123b6b;
          box-shadow: 0 0 5px #123b6b;
}

.wantLessons input {
  width: auto;
  margin: 0 10px 0 0;
}

.required {
  color: red;
}

.Footer {
  padding-bottom: 80px;
}

.Footer p {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */