//globals
  
*
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all .2s ease;
  font-family: 'Quicksand', sans-serif;

//variables

$ham: 7px;
$blue: #123b6b;
$header: #002249;

//defaults
ul
  list-style: none;

h1, h2, h3, h4, h5, h6
  text-align: center;

h1
  font-size: 2.5em;
  color: $blue;

h2
  font-size: 2em;

a
  width: fit-content;
  color: black;

button
  border: none;
  height: 60px;
  font-size: 1.2em;
  border-radius: 20px;
  background: $blue;
  color: white;

// DRY TEAMS

// team 90vw

.headshot, button
  width: 95vw;

// team flex

header, .ham, div, li, nav, section
  display: flex;

// team coloumn

.ham, div, li, nav, section
  flex-direction: column;

// team align center

header, div, li, section
  align-items: center;

// team 20px top margin

h1, h3, .headshot, .Action, p, .bar, .rep
    margin-top: 20px;


// team bottom border / 50px margin

.Bio, .Publications, .Performances
  padding-bottom: 50px;
  border-bottom: 5px solid $blue;

// Header.js

header
  position: fixed;
  bottom: 0px;
  background: $header;

  a
    color: white;
    text-decoration: none;
    padding-left: 10px;

.Logo
  align-items: flex-start;
  

nav
  position: absolute;
  bottom: 55px;
  background: $header;
  a
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid white;
    width: 100%;

.nav-show
  right: 0;

.nav-hide
  right: -1000px;

.hamE, .hamX
  padding: 10px;
  width: 80px;
  height: 55px;

  li
    background: white;
    height: $ham;
    position: relative;

.hamE
  li:nth-child(2)
    margin: $ham 0;

.hamX
  li:first-child
    transform: rotate(45deg)
    top: 12px;

  li:last-child
    transform: rotate(-45deg)
    bottom: 2px;

  li:nth-child(2)
    background: transparent;


//Home.js

.Home
  min-height: 100vh;

.headshot
  border-radius: 50%;
  box-shadow: 0 0 5px gray;

//About.js
.About
  padding: 10px;

//Action.js

.bar
  height: 5px;
  background: $blue;

.button-alt
  background: white;
  color: $blue;
  border: 1px solid $blue;
  margin-top: 5px;

//Bio.js
.Bio
  text-align: left;

//Publications.js
.Publications li
  text-transform: capitalize;

//Performances.js

.Performances
  li
    align-items: flex-start;
  h3, a
    width: fit-content;
  ul
    margin: 0;
.rep
  padding-left: 20px;

.performance
  border-bottom: 1px solid $blue;
  padding-bottom: 20px;

.performance:last-child
  border: none;

//Lessons.js
.AboutLessons
  padding: 10px;
  h3, p
    margin: 10px 0;

.AboutLessons > li
  border: solid 1px $blue;
  margin-bottom: 10px;
  padding: 10px;


.Ready, .Online, .InPerson
  ul
    padding-left: 20px;
    li
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      input
        width: fit-content;
        margin-right: 10px;

.checked
  text-decoration: line-through;

//Contact.js

.Contact, input, textarea
  padding: 10px;

.Submitted
  padding: 10px;
  p
    text-align: center;
    margin-bottom: 20px;

.Contact
  form
    margin: 20px 0;

  input
    height: 50px;

  textarea
    height: 100px;

  input, textarea, .wantLessons, p
    margin-bottom: 20px;

.wantLessons
  display: flex;
  align-items: center;
  border: 1px solid $blue;
  padding: 10px;
  box-shadow: 0 0 5px $blue;

  input
    width: auto;
    margin: 0 10px 0 0;

.required
  color: red;

//Footer.js
.Footer 
  padding-bottom: 80px;
  p
    text-align: center;