@use '../utilities/_var'
@use '../utilities/_mixins'
  
$gutter: 32px
.About
  padding: $gutter
  @media screen and (min-width: var.$break-tab)
    display: grid
    grid-template-columns: 1fr 1fr
    gap: $gutter
  h1
    text-align: center
  a
    color: black
    text-decoration: none

    @media screen and (min-width: var.$break-dt)
      &:hover
        color: var.$color-primary
        text-decoration: underline