@use '../utilities/_var'

.Action
  @media screen and (min-width: var.$break-tab)
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    button
      margin: 0
    li
      width: auto
      a
        width: 250px
    .button-alt
      margin-left: 5px

.bar
  height: 5px
  background: var.$blue


.button-alt
  background: white
  color: var.$blue
  border: 1px solid var.$blue
  margin-top: 5px